$gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

$color--veryLightGrayishBlue: hsl(240, 78%, 98%);
$color--lightGrayishBlue: hsl(234, 14%, 74%);
$color--grayishBlue: hsl(233, 13%, 49%);
$color--darkGrayishBlue: hsl(232, 13%, 33%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background-color: $color--veryLightGrayishBlue;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top 0 right -20rem;
}
